$BaiJamjuree:'BaiJamjuree', sans-serif;

$AbilitiesArticleWidth: 346px;

$LightenCyan:hsl(171, 66%, 54%);
$StrongCyan:hsl(171, 66%, 44%);
$DarkenCyan:hsl(171, 66%, 34%);
$LightenBlue:hsl(233, 100%, 79%);
$LightBlue:hsl(233, 100%, 69%);
$DarkenBlue:hsl(233, 100%, 59%);
$DarkGrayishBlue:hsl(210, 10%, 33%);
$GrayishBlue:hsl(201, 11%, 66%);